body {
  margin: auto;
  background: #eaeaea;
  font-family: 'Open Sans', sans-serif;
}

form h1 {
  font-size: 25px;
  background: #19af46 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  margin: auto;
  text-align: center;
}

form {
  border-radius: 5px;
  max-width:700px;
  width:80%;
  margin: 3% auto;
  background-color: #FFFFFF;
  overflow: hidden;
}

div span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 500;
  line-height: 2;
  color:#333;
}

input {
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  height: 40px;
  float: left;
  padding: 0px 15px;
}

a {
  text-decoration:inherit;
}

.form-group {
  overflow: hidden;
  clear: both;
}

.contentform {
  padding: 40px 30px;
}

.submit-btn{
  background-color: #19af46;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  font-size: 18px;
}

.wrapper {
  width: 70%;
  box-sizing: border-box;
  margin: auto;
}

.group-container {
  border: 1px solid #999;
  border-radius: 5px;
  padding: 10px 10px 20px 20px;
}

.group-container:not(:last-child) {
    margin-bottom: 25px;
}

.group-container div {
  width: 90%;
  margin: 0 auto;
}
